* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    max-width: 1400px;
    margin: auto;
} */

.card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    max-width: 400px;
    margin: auto;
}

.card-item {
  border-radius: 15px;  
  box-shadow: 2px 2px 15px rgb(172, 165, 165);
  font-size: 17px;
  min-height: 350px;
  overflow: hidden;
}

.currencies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.card-header {
  background-image: linear-gradient(90deg, rgb(104, 81, 81), rgb(112, 40, 40));
  color: white;
  text-align: center;
  padding: 30px 0px;

}

.currencies {
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgb(110, 107, 107), rgb(94, 72, 72));
    color: aliceblue;
}

@media (min-width: 681px) and (max-width: 960px) {
    .card {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        margin: auto;
    }
}

@media (min-width: 961px) and (max-width: 1200px) {
    .card {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: auto;
    }
}

@media (min-width: 1201px) {
    .card {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1300px;
        margin: auto;
    }
}

