* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    max-width: 1400px;
    margin: auto;
}

.card-item {
  border-radius: 15px;  
  box-shadow: 2px 2px 15px rgb(172, 165, 165);
  font-size: 17px;
  min-height: 350px;
  overflow: hidden;
}

.currencies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    padding: 20px;
}

.card-header {
  background: rgb(104, 81, 81);
  color: white;
  text-align: center;
  padding: 30px 0px;

}

.currencies {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    background: rgb(110, 107, 107);
    color: aliceblue;
    grid-row: 2/3;
}